.main-page{
    width: 65%;
    height: 80rem;
    background-color: #ffff;
  
}
.profile-text{
    color: #5a5a5d;
    font-size: 1rem;
    display: flex;
    text-align: center;
    margin-left: 12rem;
    margin-top: 1rem;
}